langchain
langchain-community
langchain-experimental
langchain-google-community
langchain-google-genai
langchain-groq
langchain-tavily
fastapi
uvicorn
streamlit
pydantic
python-dotenv
httpx
requests
pyyaml
google-generativeai